$black: #000000;
$grey-01: #323232;
$grey-02: #434343;
$grey-03: #737373;
$grey-04: #9a9a9a;
$grey-05: #d7d7d7;
$grey-06: #eeeeee;
$white: #FFFFFF;
$red: #fe2b2b;
$gradient: linear-gradient(to top, $black, $grey-02);

$font-size-title: 32px;
$font-size-large: 20px;
$font-size-normal: 16px;
$font-size-small: 14px;
