* {
  box-sizing: border-box;
}

.navbar {
  background-color: white;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  padding: 0 22px;
}

.navbar .wrapper {
  height: 84px;
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar__site-name {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}

.navbar__list {
  list-style: none;
  margin: 0;
  display: flex;
  font-family: MicrosoftJhengHei;
  font-size: 18px;
  color: #010101;
}

.navbar__list li {
  border-radius: 8px;
  transition: background 0.1s;
}

.navbar__list li.active,
.navbar__list li:hover{
  background-color: #ff7286;
}

.navbar__list li a {
  padding: 13px 25px 14px;
  text-decoration: none;
  color: #010101;
  display: block;
}

.navbar__list li.active a,
.navbar__list li:hover a{
  color: #fefefe;
}

h1, h2 , p{
  margin: 0;
}

.section {
  background: url(img/games-bn.png) center/cover no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 152px;
  position: relative;
}

.first-prize {
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(img/flight-4315953_1280.jpg) center/cover no-repeat;
  color: black;
}

.second-prize {
  background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(img/living-room-1872192_1280.jpg) center/cover no-repeat;
  color: black;
}

.third-prize {
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(img/youtube-2617510_1280.jpg) center/cover no-repeat;
  color: black;
}

.none-prize {
  background: black;
  color: white;
}

.lottery__card {
  background: white;
  border-radius: 16px;
  padding: 40px 22px 24px 22px;
  max-width: 500px;
}

.lottery__name {
  font-family: MicrosoftJhengHei;
  font-size: 24px;
  font-weight: bold;
  color: #5ec1b6;
  margin: 0 0 40px 0;
  text-align: center;
}

.lottery__info {
  border-bottom: #cdcdcd solid 1px;
  display: flex;
  padding-bottom: 24px;
  line-height: 2em;
}

.lottery__info + .lottery__infot{
  margin-top: 18px;
}

.lottery__info-title {
  font-family: MicrosoftJhengHei;
  font-size: 18px;
  font-weight: bold;
  color: #322929;
  flex: 1;
}

.lottery__info-content {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  color: #322929;
  flex: 4;
}

.lottery__btn {
  border-radius: 8px;
  background: #e62a45;
  color: #ffffff;
  border: none;
  padding: 18px 0px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin-top: 36px;
}

.result {
  width: 90%;
  text-align: center;
  margin:10% 0 20% 0;
}

.result__prize {
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: normal;
  margin:0 0 55px 0;
}

.result__btn {
  border-radius: 8px;
  background: #e62a45;
  color: #ffffff;
  border: none;
  padding: 18px 0px;
  cursor: pointer;
  width: 80%;
  max-width: 400px;
}

.footer__top {
  background-color: #e8efee;
  padding: 32px 107px 39px 107px;
  color: #484848;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-right: 30px;
}

.footer__info div {
  font-family: MicrosoftJhengHei;
  font-size: 14px;
  color: #484848;
  margin-top: 16px;
}

.footer__site {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}

.footer__bottom {
  background-color: #35564b;
  padding: 15px 12px;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 8px 0 0 0;
  }

  .navbar .wrapper {
    flex-direction: column;
    height: 100%;
  }

  .navbar__list {
    display: flex;
    width: 100%;
    padding: 8px 0 0 0;
  }

  .navbar__list li{
    flex:1;
    border-radius: 0;
    text-align: center;
    margin: 0;
  }

  .lottery__info {
    display: block;
  }

  .footer__top {
    flex-direction: column-reverse;
    padding: 22px 47px 29px 47px;
  }

  .footer__info {
    margin-top: 10px;
  }

  .footer__bottom {
    padding: 12px;
  }
}
