.navbar {
  background-color: white;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  padding: 0 22px;
}

.navbar .wrapper {
  height: 84px;
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar__site-name {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: MicrosoftJhengHei;
  font-size: 18px;
  color: #010101;
}

.navbar__list li {
  border-radius: 8px;
  transition: background 0.1s;
  margin-left: 5px;
}

.navbar__list li.active,
.navbar__list li:hover{
  background-color: #ff7286;
}

.navbar__list li a {
  padding: 13px 25px 14px;
  text-decoration: none;
  color: #010101;
  display: block;
}

.navbar__list li.active a,
.navbar__list li:hover a{
  color: #fefefe;
}

.banner {
  height: 450px;
  background: url(img/2.jpg) center/cover no-repeat;
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.banner h1 {
  display: inline-block;
  margin: 0;
  color: white;
  font-family: MicrosoftJhengHei;
  font-size: 60px;
  font-weight: bold;
  position:relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 , p{
  margin: 0;
}

.section {
  text-align: center;
  margin-top: 80px;
}

.section__title {
  display: inline-block;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  border-left: solid 15px #a3dea2;
  margin-bottom: 39px;
  padding-left: 17px;
  white-space:nowrap;
}

.section__desc {
  padding: 0 20px 84px 20px;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  color: #000000;
  line-height: 2.5em;
}

.buttons {
  margin-bottom: 40px;
}

.button {
  padding: 61px 80px 67px 79px;
  border-radius: 10px;
  display: inline-block;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.32px;
  color: #3e613d;
  cursor: pointer;
  white-space:nowrap;
}

.btn-order {
  background: #a8e8e1;
}

.btn-query {
  background: #f9f9b5;
  margin-left: 23px;
}

.section__images {
  display: flex;
}

.section__images div {
  width: 25%;
}

.section__images div img {
  width: 100%;
}

.section__comment {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 50px;
}

.section__comment-block {
  border:solid #d8eaef;
  border-radius: 5px;
  box-shadow: -1.4px -1.4px 4px 0 var(--light-blue-grey);
  padding: 0 20px 41px 20px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 60px;
  height: 280px;
  width: 30%;
}

.section__comment-block +.section__comment-block{
  margin-left: 16px;
}

.section__comment-img {
  width: 105px;
  height: 105px;
  position: absolute;
  top: -52px;
  border: solid 1px #c1c1c1;
  border-radius: 50%;
}

.section__comment-img img{
  width: 100%;
  height: 100%;
}

.section__comment-name {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  color: #000000;
  position: absolute;
  top: 60px;
}

.section__comment-content {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0.14px;
  text-align: center;
  color: #000000;
  position: relative;
  top: 95px;
}

footer {
  margin-top: 43px;
}

.footer__top {
  background-color: #e8efee;
  padding: 32px 107px 39px 107px;
  color: #484848;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-right: 30px;
}

.footer__info div {
  font-family: MicrosoftJhengHei;
  font-size: 14px;
  color: #484848;
  margin-top: 16px;
}

.footer__site {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}

.footer__bottom {
  background-color: #35564b;
  padding: 15px 12px;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar {
    padding: 8px 0 0 0;
  }
  .navbar .wrapper {
    flex-direction: column;
    height: 100%;
  }

  .navbar__list {
    display: flex;
    width: 100%;
    padding: 8px 0 0 0;
  }

  .navbar__list li{
    flex:1;
    border-radius: 0;
    text-align: center;
    margin: 0;
  }

  .banner {
    height: 300px;
    background: url(img/2.jpg) center/cover no-repeat;
    position: relative;
  }
  
  .banner h1 {
    font-size: 50px;
  }

  .button {
    display: block;
    padding: 41px 70px 47px 69px;
  }

  .btn-query {
    margin-left: 0px;
    margin-top: 15px;
  }

  .section__images {
    flex-direction: column;
  }

  .section__images div {
    width: 100%;
  }

  .section__comment {
    flex-direction: column;
  }

  .section__comment-block {
    height: 275px;
    width: 90%;
  }

  .section__comment-block +.section__comment-block{
    margin-left: 0px;
    margin-top: 80px;
  }

  .footer__top {
    flex-direction: column-reverse;
    padding: 22px 47px 29px 47px;
  }

  .footer__info {
    margin-top: 10px;
  }

  .footer__bottom {
    padding: 12px;
  }
}
